<%- errorMessagesFor(mailing) %>
<div class="control-group">
   <%- form.label("id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("from", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("from") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("subject", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("subject") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("started_send", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("started_send") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("finished_send", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("finished_send") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("promotion_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("promotion_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("count", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("count") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("engaged", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("engaged") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("viewed", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("viewed") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("unsubscribed", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("unsubscribed") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("bounced", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("bounced") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("division", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("division") %>
   </div>
</div>
