<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.mailings() %>">mailings</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New mailing</a></li>
</ul>

<div class="page-header">
    <h1>New mailing</h1>
</div>

<% var form = formFor(mailing, {action: pathTo.mailings(), method: 'POST', id: "mailing-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create mailing', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.mailings(), {class: 'btn'}) %>
</div>
<%- form.end() %>
