<%- errorMessagesFor(mailingstat) %>
<div class="control-group">
   <%- form.label("mailing_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("mailing_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("promotion_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("promotion_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("sent_at", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("sent_at") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("action_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("action_id") %>
   </div>
</div>
