<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.mailingstats() %>">mailingstats</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New mailingstat</a></li>
</ul>

<div class="page-header">
    <h1>New mailingstat</h1>
</div>

<% var form = formFor(mailingstat, {action: pathTo.mailingstats(), method: 'POST', id: "mailingstat-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create mailingstat', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.mailingstats(), {class: 'btn'}) %>
</div>
<%- form.end() %>
