<%- errorMessagesFor(email) %>
<div class="control-group">
   <%- form.label("id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("web", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("web") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("zip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("zip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("is_valid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("is_valid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("division", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("division") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("is_sent", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("is_sent") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("category_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("category_id") %>
   </div>
</div>
