<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.emails() %>">emails</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit email</a></li>
</ul>

<div class="page-header">
    <h1>Edit email</h1>
</div>

<% var form = formFor(email, {action: pathTo.email(email), method: 'PUT', id: "email-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update email', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.email(email), {class: 'btn'}) %>
</div>
<%- form.end() %>
